.product-all {
    display: flex;
    justify-content: space-between;
    margin: 50px 5% 50px 5%;
}
.filters{

}
.filter-btn{
    display: block;
    border: none;
    font-size: 15px;
    margin:8px 0;
    cursor: pointer;
    padding: 6px;
    position: relative;
}
.filter-btn::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #b4d9eb;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.filter-btn:hover::after{
    width: 100%;
}
.product-content{
    flex: 3;
}
.product-filter {
    flex: 1;
}
.product-all h3{
    padding-bottom: 18px;
}
.product-all h1{
    padding-bottom: 9px;
}
.product-list h3 {
    margin-top: 100px;
}
.filters{
    margin-top: 8px;
}
.produict-line {
    border-bottom: 2px;
    width: 80%;
    height: 2px;
    background-color: black;
    margin-top: 60px;
}
.product-menu-list{
    display: flex;
    justify-content: space-between;
}

.product-menu {
    margin: 20px 0;
    padding: 5px;
    position: relative;
}
.product-menu::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000;
    bottom: 0px;
    position:absolute;
}
.product-menu-list li{
    position: relative;
    padding-bottom: 3px;
}
.product-menu-list li::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #b4d9eb;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.product-menu-list li:hover::after{
    width: 100%;
}

/*product-items */
#myProduct{
    cursor: pointer;
}
.detail-product{
    cursor: pointer;
  }
.product-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-box{
    width: 24%;
    margin-left: 5px;
    margin-bottom: 20px;
}
.product-box img{
    width: 100%;
}
.product-heading{
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 8px;
    opacity: 0.7;
}
.product-boxitems{
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
     overflow: hidden;
     font-size: 16px;
}
.product-boxitems h4{
    margin-bottom: 30px;
    font-weight: 500;
}
.productPrice{
    color: brown;
}
.star-widget {
    display: flex;
    justify-content: space-between;
}
.star-pre{
}
.star-pre > .star{
    font-size: 14px;
    color: brown;
}
.product-revier{
}
.product-revier span{
    font-size: 14px;
}
.product-revier i {
    cursor: pointer;
}